<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @inventory.name %>
</p>

<p>
  <b>Type:</b>
  <%= @inventory.type %>
</p>

<p>
  <b>Quantity:</b>
  <%= @inventory.quantity %>
</p>

<p>
  <b>Makeyear:</b>
  <%= @inventory.makeYear %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
